@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_devanagari.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_latin.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_latin_ext.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_others.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_devanagari1.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_latin1.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_latin_ext1.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_others1.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_devanagari2.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_latin2.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_latin_ext2.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_others2.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_devanagari3.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_latin3.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_latin_ext3.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_others3.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_devanagari4.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_latin4.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_latin_ext4.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_others4.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_devanagari5.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_latin5.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_latin_ext5.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_others5.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_devanagari6.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_latin6.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_latin_ext6.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_others6.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_devanagari7.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_latin7.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_latin_ext7.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_others7.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_devanagari8.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_latin8.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_latin_ext8.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_others8.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_devanagari8.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_latin8.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_latin_ext8.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:normal;
   src:url("../font/font_others8.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_devanagari7.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_latin7.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_latin_ext7.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:normal;
   src:url("../font/font_others7.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_devanagari6.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_latin6.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_latin_ext6.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:normal;
   src:url("../font/font_others6.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_devanagari5.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_latin5.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_latin_ext5.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:normal;
   src:url("../font/font_others5.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_devanagari4.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_latin4.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_latin_ext4.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:normal;
   src:url("../font/font_others4.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_devanagari2.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_latin2.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_latin_ext2.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:normal;
   src:url("../font/font_others2.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_devanagari1.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_latin1.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_latin_ext1.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:normal;
   src:url("../font/font_others1.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_devanagari.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_latin.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_latin_ext.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:normal;
   src:url("../font/font_others.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_devanagari3.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_latin3.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_latin_ext3.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:normal;
   src:url("../font/font_others3.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:italic;
   src:url("../font/font_devanagari9.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:italic;
   src:url("../font/font_latin9.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:italic;
   src:url("../font/font_latin_ext9.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:200;
   font-style:italic;
   src:url("../font/font_others9.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:italic;
   src:url("../font/font_devanagari10.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:italic;
   src:url("../font/font_latin10.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:italic;
   src:url("../font/font_latin_ext10.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:300;
   font-style:italic;
   src:url("../font/font_others10.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:italic;
   src:url("../font/font_devanagari11.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:italic;
   src:url("../font/font_latin11.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:italic;
   src:url("../font/font_latin_ext11.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:900;
   font-style:italic;
   src:url("../font/font_others11.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:italic;
   src:url("../font/font_devanagari12.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:italic;
   src:url("../font/font_latin12.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:italic;
   src:url("../font/font_latin_ext12.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:600;
   font-style:italic;
   src:url("../font/font_others12.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:italic;
   src:url("../font/font_devanagari13.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:italic;
   src:url("../font/font_latin13.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:italic;
   src:url("../font/font_latin_ext13.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:700;
   font-style:italic;
   src:url("../font/font_others13.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:italic;
   src:url("../font/font_devanagari14.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:italic;
   src:url("../font/font_latin14.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:italic;
   src:url("../font/font_latin_ext14.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:800;
   font-style:italic;
   src:url("../font/font_others14.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:italic;
   src:url("../font/font_devanagari15.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:italic;
   src:url("../font/font_latin15.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:italic;
   src:url("../font/font_latin_ext15.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:500;
   font-style:italic;
   src:url("../font/font_others15.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:italic;
   src:url("../font/font_devanagari16.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:italic;
   src:url("../font/font_latin16.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:italic;
   src:url("../font/font_latin_ext16.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:400;
   font-style:italic;
   src:url("../font/font_others16.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:italic;
   src:url("../font/font_devanagari17.woff2") format("woff2");
   unicode-range: U+2BC, U+901-903, U+905-90D, U+90F-911, U+913-928, U+92A-933, U+935-939, U+93C-945, U+947-949, U+94B-94D, U+950, U+958-95E, U+960-963, U+966-970, U+972, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:italic;
   src:url("../font/font_latin17.woff2") format("woff2");
   unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2212, U+2215, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:italic;
   src:url("../font/font_latin_ext17.woff2") format("woff2");
   unicode-range: U+100-107, U+10A-11B, U+11E-123, U+128-130, U+136-137, U+139-148, U+14C-151, U+154-15B, U+15E-165, U+168-17E, U+192, U+1FC-1FD, U+218-21B, U+1E80-1E85, U+1EBC-1EBD, U+1EF2-1EF3, U+1EF8-1EF9, U+20A8, U+20BA, U+20BD, U+25CC;}
@font-face {
   font-family:"Poppins";
   font-weight:100;
   font-style:italic;
   src:url("../font/font_others17.woff2") format("woff2");
   unicode-range: U+2C7, U+2C9, U+2D8-2D9, U+2DB, U+2DD, U+3C0, U+964-965, U+20B9, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+25CC, U+FB01-FB02;}

